@model IEnumerable<WebsiteBanHang.Context.Hedieuhanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hệ điều hành</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên hệ điều hành
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenhdh)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Mahdh }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Mahdh }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Mahdh })
        </td>
    </tr>
}

</table>
